
<div class="notefooter" >
    
     <button mat-icon-button title="Remind me">
        <img src="../../assets/add_alert.svg" alt="remindme_image">
     </button>

     <button mat-icon-button title="collaborator">
        <img src="../../assets/add_person.svg" alt="add_personImage">
     </button>

     <button mat-icon-button title="Background color" [matMenuTriggerFor]="paletteMenu">
       <img src="../../assets/color_palate.svg" alt="background_image">
     </button>
     <mat-menu #paletteMenu="matMenu">
        <div *ngFor = 'let colors of colorArray' style="display: inline; width: 500px; ">
        <button mat-menu-item class="circle" [style.background]="colors.code" (click)="selectColor(colors)"></button>
        </div>
     </mat-menu>

     <button mat-icon-button title="Add Image">
        <img src="../../assets/image.svg" alt="image_icon">
     </button>

     <button mat-icon-button  (click)="onArchive()" title="Archive">
         <img src="../../assets/archive_icon.svg" alt="archive_icon">
     </button>

     <button mat-icon-button [matMenuTriggerFor]="moremenu" title="more">
         <img src="../../assets/more_icon.svg" alt="more_icon">
     </button>
     <mat-menu  #moremenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onDelete()">Delete Note </button>
        <button mat-menu-item >Add lebal</button>
        <button mat-menu-item >Add drawing</button>
        <button mat-menu-item >Make a copy</button>
        <button mat-menu-item >Show checkboxes</button>
     </mat-menu>
 </div>

 

