<mat-toolbar>
    <mat-toolbar-row class="navbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img class="keep_image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz1m95VHC8IohHRPhrs4zky6sqOez_ZeiHww&s">
        <p style="margin-left: 7px; margin-top: 15px; font-size: 24px; color: #5f6368;">Keep</p>
        <div class="input_field">
            <button mat-icon-button title="search">
                <mat-icon style="color: #5f6368;">search</mat-icon>
            </button>
            <input style="width: 590px; height:25px; background-color: white; border: none; outline: none;" placeholder="Search" (keyup)="search($event)">
            <button mat-icon-button title="close">
                <mat-icon style="color: #5f6368;">close</mat-icon>
            </button>
        </div>
        <div class="corner_icons">
            <div>
                <button mat-icon-button title="refresh">
                    <img src="../../assets/refresh_icon.svg" alt="refresh_icon">
                </button>
            </div>
            <div>
                <button mat-icon-button title="listview">
                    <img src="../../assets/split_screen.svg" alt="split_screen">
                </button>
            </div>
            <div>
                <button mat-icon-button title="seetings">
                    <img src="../../assets/settings_icon.svg" alt="settings_icon">
                </button>
               
            </div>
        </div>
        <div class="corner_icons2">
            <div>
                <button mat-icon-button title="apps">
                    <img src="../../assets/apps_icon.svg" alt="split_screen">
                </button>
            </div>
            <div>
                <button mat-icon-button title="Google account">
                    <img src="../../assets/account_icon.svg" alt="account_icon">
                </button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height: calc(100vh - 74px);">
    <mat-sidenav #sidenav opened="true" mode="side" class="listcontainer">
        <mat-nav-list class="sidenavlist">
            <a mat-list-item href="/dashboard/getAllNotes"><img class="sidenav-images" src="../../assets/notes.svg"><label class="label">Notes</label></a>
            <a mat-list-item><img class="sidenav-images" src="../../assets/notification.svg"><label class="label">Reminders</label></a>
            <a mat-list-item><img class="sidenav-images" src="../../assets/edit.svg"><label class="label">Edit labels</label></a>
            <a (click)="archiveNotes()" mat-list-item ><img  class="sidenav-images" src="../../assets/archive.svg"><label class="label">Archive</label></a>
            <a (click)="trashNotes()" mat-list-item><img class="sidenav-images" src="../../assets/delete.svg"><label class="label">Trash</label></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
