

.keep_image{
    height: 60px;
    width: 57px;
    padding:15px; 
   
}


.sidenav-images{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 

}
.label{
  display: flex;
  // justify-content: center;
  margin-top: -25px;
  margin-left: 40px;
 

}
.listcontainer{
  width: 255px;
  display: flex;
  align-items: center;
 
  
}

.input_field{
  width: 700px;
  margin-left: 100px;
  margin-top: 20px;
 
  display: flex;
  align-items: center;
  margin-top: -2.5px;
  background-color:white;
  border-radius: 7px;
  border: 1px solid lightgray;
  }

.navbar{
  background-color: white;
  border-bottom: 1px solid lightgray;
 
}


.corner_icons{
  width: 150px;
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  padding-left: 150px;
  
 
  
}
.corner_icons2  {
  
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 padding-left: 40px;
}