

.keep_image{
    height: 60px;
    width: 57px;
    padding:15px; 
   
}

.navbar{
  background-color: white;
}

.sidenav-images{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 

}
.label{
  display: flex;
  // justify-content: center;
  margin-top: -25px;
  margin-left: 40px;
 

}
.listcontainer{
  width: 255px;
  display: flex;
  align-items: center;
 
  
}

