.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f0f4f9 ;
}

.mat-card{
    height: 340px;
    width: 70%;
    border-radius: 35px;
    margin-top: -50px;
}

.image{
    height: 48px;
    width: 48px;
    padding: 30px 0px 0px 30px;
}

.sign_in{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 36px;
    padding-top: 20px ;
    padding-left: 30px;
}

.text2{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 16px;
    padding-top: 5px ;
    padding-left: 30px;
    color:#1f1f1f ;
}

.main{
    display: flex;
    flex-direction: row;
    
}
.child{
    width: 50%;

}
.form{
    width: 430px;
    margin-top: 40px;
   
}
.message2{
    color: #0b57d0!important;
    margin-top: 45px;
    margin-left: 180px;
}

.link_button{
   
    background-color: #0b57d0!important;
    color: white!important;
    margin-top: -62px;
    margin-left: 345px;
    border-radius: 55px;
}

.mat-card2{
    height: 50px;
    width: 70%;
    background-color: #0b57d0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -115px;
    margin-left: 200px;
}

.footer{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
    padding: 0px 10px;
    background-color: #F0F4F9;
}

.ft-d2{
    display: flex;
    gap: 30px;
}

.ft-d1-select{
    height: 30px;
    width: fit-content;
    background-color: #F0F4F9;
    border: none;
    color: rgb(73, 73, 73);
}

.ft-d2 button{
    border-radius: 8px;
    color: rgb(73, 73, 73);
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
    outline: none;
    padding: 8px 12px;
    text-decoration: none;
}