.title{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .container{
    display: flex;
    flex-direction: column;
    // background-color: #ffffff;
    width: 100%;
    height: fit-content;
  }

  .notefooter{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
  }

  .close_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .update_input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;



  }