<div class="notes-list">
    <div *ngFor="let notes of trashList" class="card">
        <mat-card class="notesContainer" [style.background]="notes.colour"  >
            <mat-card-title mat-input class="title">
                <div>{{notes.title}}</div>
            </mat-card-title>
            <mat-card-content>
                <div class="text" style="min-height: 35px; display: block; overflow-wrap: break-word;">
                    <h3 class="">{{notes.description}}</h3>
                </div>
            </mat-card-content>
            <div>{{notes.notesId}}</div>
            <div>
                <button mat-icon-button title="delte permenent">
                    <img src="../../assets/delete_icon.svg" alt="delete_forever" >
                </button >
                <button mat-icon-button (click)="restore(notes)" title="restore">
                    <img  src="../../assets/restore_icon.svg" alt="restore_icon">
                </button>
        </div>
        </mat-card>
    </div>
</div>